@import "tailwindcss";

:root {
  --background: rgb(250, 244, 237);
  --background-muted: #d1d5db; /*gray-300*/
  --foreground: #171717; /*neutral-900*/
  --foreground-muted: #334155; /*slate-700*/
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-muted: var(--background-muted);
  --color-foreground-muted: var(--foreground-muted);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-custom: var(--font-custom);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(46, 36, 29);
    --background-muted: #404040; /*neutral-700*/
    --foreground: #f5f5f5; /*neutral-100*/
    --foreground-muted: #d4d4d4; /*neutral-300*/
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
